body {
  align-items: center;
  justify-content: center;
  text-align: center;
  // background-color: white;
  border: 1px solid black;
}

h1 {
  color: rgb(92, 52, 0);
  background-color: rgb(255, 216, 133);
}

.mainBox {
  // height: 80vh;
  padding: 20px;
}

select {
  max-height: 280px;
  overflow-y: auto;
}
